/*
* @Author: 宏达
* @Date:   2017-10-02 20:57:36
* @Last Modified by:   宏达
* @Last Modified time: 2017-10-17 09:10:23
*/
@import url('base.css');
/* top-nav */
.top-nav{
    width: 100%;
    height: 68px;
    background: #000;
}
.top-nav h1{
    font-size: 34px;
    line-height: 68px;
    text-transform: uppercase;
    display: block;
    float: left;
}
.top-nav h1 a{
	color: #2ebaef;
}
.navbar-left{
	padding: 16px 0;
	position: relative;
	top: 0;
	left: 180px;
	display: block;
}
.navbar-left .nav li{
	width: 90px;
	height: 36px;
	background: none;
	float: left;
	font-size: 16px;
	margin-right: 5px;
	border-radius: 2px;
	text-align: center;
	line-height: 36px;
	transition: all 0.5s;
} 
.navbar-left .nav li:hover{
	background: #2ebadf;
}
.top-nav .dropdown-menu{
    width: 65px;
    height: 38px;
    /* background: yellow; */
    display: none;
    margin-top: 15px;
    float: right;
    text-align: center;
    line-height: 38px;
    font-size: 22px;
   	text-align: center;
    line-height: 36px;
    font-weight: bold;
    color: #fff;
}
.navbar-right{
	position: relative;
	right: 5px;
	top: -10px;
}
.navbar-right .socials li{
    width: 28px;
    height: 28px;
    border: 1px solid #fff;
    float: right;
    transform: rotate(45deg);
    margin-left: 15px;
    text-align: center;
    line-height: 28px;
    transition: all 0.6s ;
}
.navbar-right .socials li a{
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    transform: rotate(-45deg);
}
.navbar-right .socials li:hover{
	border-radius: 50%;
	border: 1px solid #337ab7;
}
.navbar-right .socials li:hover .iconfont{
	color: #337ab7;
}
/* banner */
.banner{ 
	background:url(../img/banner-2.jpg)no-repeat center;
	-webkit-background-size:cover;
	-moz-background-size:cover; 
	background-size:cover;
	min-height:300px;
}
/* mail */
.mail{
    margin-top: 50px;
}
.head{
	font-size: 36px;
    color: #2ebaef;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}
.mail-grid-left h4{
	font-size: 18px;
    color: #212121;
    margin-bottom: 16px;
}
.mail-grid-left input{
	outline: none;
    background: #f5f5f5;
    border: 1px solid #E8E8E8;
    color: #212121;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
}
.mail-grid-left textarea{
	outline: none;
    background: #f5f5f5;
    border: 1px solid #E8E8E8;
    color: #212121;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
    resize: none;
}
#submit{
	font-size: 1em;
    padding: 0.8em;
    display: block;
    margin-top: 1em;
    outline: none;
    background: #212121;
    color: #fff;
    border: none;
    width: 34%;
    transition: 0.5s all;
    cursor: pointer;
}
#submit:hover{
	background: #337ab7;
}
.map iframe{
	min-height: 300px;
	border: 2px solid #000;
	margin-left: 30px;
}
.address{
	margin-left: 30px;
}
.address h3{
	font-size: 26px;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1em;
}
.address ul li{
	list-style-type: none;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
    color: #212121;
}
.address ul li span{
	margin-right: 10px;
}
.address ul li a{
	margin-left: 10px;
	color: #337ab7;
}
/* footer */
.footer{
	width: 100%;
	min-height: 200px; 
	background: #0f1215;
	margin-top: 50px;
	padding: 60px 0;
}
.footer-top{
    padding-left: 30px;
}
.footer-grid{
    width: 33.333333%;
    height: auto;
}
.footer-grid-heading h4{
    color: #ffffff;
    font-size: 22px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.footer-grid-info,.social,.agile-footer-grid{
    margin: 30px 0 0 0;
}
.footer-grids p{
    margin: 0;
    font-size: 14px;
    color: #BBBBBB;
    line-height: 30px;
    text-transform: uppercase;
}
.footer-grids p span{
	display:block;
}
.footer-grids p span a{
    color: #BBBBBB;	
	text-decoration:none;
}
.footer-grids p span a:hover{
    color: #ffffff;
}
.subscribe-form{
	margin-top: 15px;
}
.subscribe-form input{
	display: inline-block;
    background: #ececec;
    width: 90%;
    outline: none;
    padding: 10px;
    font-size: 16px;
    color: #999999;
    border: solid 2px #ececec;
    margin-bottom: 10px;
}
button.btn1 {
    color: #FFFFFF;
    font-size: 16px;
    border: solid 1px #2ebaef;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    background: #2ebaef;
    transition: 0.5s all;
}
button.btn1:hover{
    background: none;
    border: solid 1px #2ebaef;
    color: #2ebaef;
}
.social li{
	width: 40px;
	height: 40px;
	background: #2ebaef;
	float: left;
	border-radius: 50%;
	margin-right: 10px;
	text-align: center;
	line-height: 40px;
	transition: all 0.6s;
}
.social li:hover{
	background: #337ab7; 
}
.social li a .iconfont{
	font-size: 20px;
}
.copyright{
	background: #191919;
    padding: 1.5em 0;
    text-align: center;
    font-size: 12px;
}
.copyright p{
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
}
.copyright p a{
    color:#2ebaef; 
    transition: 0.5s all; 
}
.copyright p a:hover{
    color:#fff;  
}
.top-button{
	width: 50px;
	height: 50px;
	/* background: yellow; */
	position: fixed;
	z-index: 999;
	bottom: 30px;
	right: 30px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	transition: all 0.6s;
}
.top-button:hover{
	transform: scale(1.2, 1.2);
}
.top-button .iconfont{
	font-size: 26px;
	font-weight: bold;
	color: #2ebaef;
}


@media screen and (min-width: 1200px){
	.navbar-left{
		left: 180px;
	}
}

@media screen and (max-width: 1200px) and (min-width: 992px){
    .navbar-left{
		left: 100px;
	}
	.slide-button .left{
		left: 3%;
	}
	.slide-button .right{
		right: 3%;
	}
	.welcome-top-left{
		padding-left: 50px!important;
	}
	.welcome-bottom-right{
		padding-left: 50px!important;
	}

}

@media screen and (max-width: 992px) and (min-width: 768px){
    .navbar-left{
		left: 20px;
	}
	.navbar-left .nav li{
		width: 72px;
	}
	.banner-text h2,.banner-text h3{
		font-size: 24px;
	}
	.banner-text h5{
		font-size: 16px;
		width: 60%;
		letter-spacing: 1px;
	}
	.welcome-top-left{
		padding-left: 30px!important;
	}
	.welcome-bottom-right{
		padding-left: 30px!important;
	}
	.footer-grid{
		margin-bottom: 30px;
	}
}

@media (max-width: 768px){
	.navbar-left{
		display: none;
	}
	.navbar-right{
		display: none;
	}
	.top-nav .dropdown-menu{
		display: block;
	}
	.banner-text h2,.banner-text h3{
		font-size: 22px;
	}
	.banner-text h5{
		font-size: 14px;
		width: 80%;
		letter-spacing: 1px;
	}
	.slide-button .left{
		width: 40px;
	    height: 40px;
		left: 3%;
		font-size: 24px;
		line-height: 40px;
	}
	.slide-button .right{
		width: 40px;
	    height: 40px;
		right: 3%;
		font-size: 24px;
		line-height: 40px;
	}
	.welcome-top-left{
		padding-left: 25px!important;
	}
	.welcome-bottom-right{
		padding-left: 25px!important;
	}
	.footer-grid{
		margin-bottom: 30px;
	}
	.social li{
		margin-right: 20px;
		margin-bottom: 15px;
	}
	.map iframe{
	margin-left: 0;
    }
   .address{
   	margin-top: 30px;
	margin-left: 0;
   }
}