/*
* @Author: 宏达
* @Date:   2017-11-01 11:34:24
* @Last Modified by:   宏达
* @Last Modified time: 2017-11-02 17:36:12
*/

*{
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;
}
body{
	padding:20px 15px;
}
.panel{
	width:100%;
	height:auto;
}
a{
	text-decoration:none;
	display:inline-block;
	color:#fff;
	width:40px;
	height:30px;
	background:blue;
	border-radius:5px;

}
.panel table{
	width:100%;
	height:auto;
	border-collapse: collapse;
	animation:donghua 0.5s;
	border:1px solid #ccc;
}
table tr{
	width:100%;
	height:40px;
}
table tr:nth-child(2n){
	background:#fff;
}
table tr:nth-child(2n+1){
	background:#e4f1ff;
}
table tr td{
	border:1px solid #fff;
	text-align:center;
	height:24px;
	border:1px solid #ccc;
}
table tr td a{
	background:blue;
	line-height:30px;
}
table tr th{
	border:1px solid #fff;
	text-align:center;
	height:24px;
	border:1px solid #ccc;
}
.btn{
	background:red;
}
@keyframes donghua{
	0%{
	  transform:scale(0,0) rotateZ(360deg);
	}
	100%{
	  transform:scale(1,1) rotateZ(0deg);
	}
}