<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
	<link rel="stylesheet" href="../static/css/login.scss">
</head>
<body>
	<div class="content">
	    <form action="login.php" method="post">
	    	<h3>后台登录</h3>
	    	<div class="formgroup">
	    		<input type="username" name="user" placeholder="请输入用户名">
	    	</div>
	    	<div class="formgroup">
	    		<input type="password" name="pass" placeholder="请输入密码">
	    	</div>
	    	<div class="formgroup">
	    		<input type="submit" name="sub" value="submit" class="button">
	    	</div>
	    </form>		
	</div>
</body>
</html>