<!-- footer -->
    <section>
        <div class="footer">
            <div class="container">
                <div class="footer-grids">
                    <div class="col-md-4 col-sm-12 col-xs-12 footer-grid">
                        <div class="footer-top">
                            <div class="footer-grid-heading">
                                <h4>Get In Touch</h4>
                            </div>
                            <div class="footer-grid-info">
                                <p>Eiusmod Tempor inc
                                   <span>St Dolore Place,Kingsport 56777.</span>
                                </p>
                                <p class="phone">Phone : +1 123 456 789
                                    <span>Email : <a href="mailto:example@email.com">mail@example.com</a>
                                    </span>
                                    <span>FAX : <a href="mailto:example@email.com">123 456 7890</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 footer-grid">
                        <div class="footer-top">
                            <div class="footer-grid-heading">
                                <h4>Newsletter</h4>
                            </div>
                            <div class="footer-grid-info">
                                <p>AND ALWAYS STAY INFORMED OF THE LATEST COMPANY NEWS AND EVENTS!</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="">
                                    <input type="text" placeholder="Email" name="email">
                                    <button class="btn1">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 footer-grid">
                        <div class="footer-top">
                            <div class="footer-grid-heading">
                                <h4>Follow Us</h4>
                            </div>
                            <div class="social">
                                <ul>
                                    <li><a href="#"><i class="iconfont icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="iconfont icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="iconfont icon-rss"></i></a></li>
                                    <li><a href="#"><i class="iconfont icon-vk"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- //footer -->
<!-- copyright -->
    <section>
        <div class="copyright">
           <div class="container">
               <p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="">Made By Hongda</a></p>
           </div>
        </div>
    </section>
<!-- //copyright -->
    <section>
        <div class="top-button"><span class="iconfont icon-dingbu" title="返回顶部"></span></div>
    </section>
</body>
</html>