<link rel="stylesheet" href="../static/css/index.css">
<script src="../static/js/index.js"></script>
<!-- bannner -->
    <section>
        <div class="banner">
            <div class="banner-text">
                <ul class="slides">
                    <li style="display: block;">
                        <h2>Chinese style</h2>
                        <h5>The new Chinese architecture is not only in line with traditional Chinese architecture, but also effectively integrates modern architectural elements and design elements.</h5>
                    </li>
                    <li>
                        <h2>American style</h2>
                        <h5>American style has the attention to architectural detail, have classic feelings, the appearance is concise and easy, the feeling that combines a variety of amorous feelings is one body.</h5>
                    </li>
                    <li>
                        <h2>European style</h2>
                        <h5>European-style style is more classic, the style presents design diversification, modelling vivid.</h5>
                    </li>
                    <li>
                        <h3>French style</h3>
                        <h5>The layout of the prominent axis symmetry, magnificent momentum, luxurious and comfortable living space.</h5>
                    </li>
                    <li>
                        <h3>Mediterranean style</h3>
                        <h5>We help you to find the best property match to you need in just a few simple steps.</h5>
                    </li>
                    <li>
                        <h3>Spain style</h3>
                        <h5>Spanish style is an architectural form integrating Arab style with European classicism. It is more mysterious, introverted, steady, heavy, and more primitive.</h5>
                    </li>
                </ul>
                <ul id="banner-num">
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
            </ul>
            </div>
            <ul class="slide-button">
                <li class="left iconfont icon-fanye-xiangzuo"></li>
                <li class="right iconfont icon-fanye-xiangyou"></li>
            </ul>
        </div>
    </section>
<!-- //bannner -->
<!-- welocme -->
    <section>
        <div class="welcome-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 welcome-top-left">
                       <div class="welcome-left-top">
                          <h3>Updown Court</h3>
                          <p>Wendell sharm, in Britain, is still the most expensive villa in the world thanks to currency change. No wonder the vacant mansion has 103 rooms, five playpools and a cinema with 50 seats. From the library floor of 24-karat gold to the hot marble driveway, it's gorgeous. There are squash courts, bowling alleys and tennis courts, unless you're going to visit the queen of the nearby Windsor castle -- you'll never even need to leave.</p>
                          <div class="text"><p>It is represented by Savills and Hamptons International. There are 11 acres of formal gardens and woods, and two guests, deputy building, stable, tennis court, two three indoor swimming pool, outdoor swimming pool, squash court, bowling room, theater, wine cellar, helicopter pad, etc., a person of extraordinary powers curtilage also used a lot of computer control technology.</p></div>
                          <!-- <div class="readmore">Read More</div> -->
                          <input type="button" value="Read More">
                       </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 welcome-top-right"></div>
                </div>
            </div>
        </div>
        <div class="welcome-bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 welcome-bottom-left"></div>
                    <div class="col-md-6 col-sm-12 col-xs-12 welcome-bottom-right">
                       <div class="welcome-right-top">
                          <h3>Toprak Mansion</h3>
                          <p>Top $92 million (92 million pounds), a person of extraordinary powers curtilage (Toprak Mansion) London, UK in London, a Turkish entrepreneurs built a neoclassicism style palace, the result became haile, top lakshmi (Halis Toprak) the most luxurious home.</p>
                          <div class="text"><p>The main living space (excluding staff and guests) is about 28,000 feet, including spacious spiral staircases, four kitchens and 80-foot-long luxury lounges. There are also leisure activity rooms including swimming pools, Turkish baths and saunas, and two acres of greening venues. Agent Trevor Abrahmsohn from Glentree Estates.</p></div>
                          <input type="button" value="Read More">
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- //welocme -->
<!-- services -->
    <section>
        <div class="services">
            <div class="container">
                <div class="col-xs-12 services-top">
                    <h3>Services</h3>
                    <p>The competition of modern enterprises is often the competition of service, while the level of service competition is reflected in the details of the service. I believe that as long as we work hard to do everything well, we will reap the spring of our career in any position. The service is endless. We need to put the details of our service into practice.</p>
                </div>
                <div class="col-xs-12 services-rights">
                    <div class="services-left">
                       <div class="services-logo">
                           <i class="iconfont icon-cog" aria-hidden="true"></i>
                       </div>
                    </div>
                    <div class="services-right">
                       <h4>Settings</h4>
                       <p>By constantly improve each service link.In the domestic exhibited excellent designers, the foreign advanced design idea and technology import, domestic villa user better service.</p>
                    </div>
                </div>
                <div class="col-xs-12 services-lefts">
                     <div class="services-left">
                        <div class="services-logo">
                            <i class="iconfont icon-share-alt" aria-hidden="true"></i>
                        </div>
                     </div>
                     <div class="services-right">
                        <h4>Shared</h4>
                        <p>With the development of international giants and capital, the sharing and lodging market in China has been developed. Among them, the Shared villa is a newly emerging short lease mode, and the demand growth is fast, especially in first-tier cities such as Shanghai, Beijing and guangzhou.</p>
                     </div>
                </div>
                <div class="col-xs-12 services-rights">
                    <div class="services-left">
                       <div class="services-logo">
                           <i class="iconfont icon-server" aria-hidden="true"></i>
                       </div>
                    </div>
                    <div class="services-right">
                       <h4>Technical indicators</h4>
                       <p>Villa because of its unique architectural characteristics, its design and general residential house design has obvious difference. Villa design not only should undertake interior design, but want to undertake outdoor design, this is the biggest distinction that is with general house design.</p>
                    </div>
                </div>
                <div class="col-xs-12 services-lefts">
                     <div class="services-left">
                        <div class="services-logo">
                            <i class="iconfont icon-anchor" aria-hidden="true"></i>
                        </div>
                     </div>
                     <div class="services-right">
                        <h4>history</h4>
                        <p>Architecture is not only the music of solidification, solidification of culture, after years of baptism, quietly standing there, always inadvertently, strike a chord for people, let us at any time to touch the trace of human history, the villa, is the perfect embodiment in this frozen music.</p>
                     </div>
                </div>
            </div>
        </div>
    </section>
<!-- //services -->
<!-- team -->
    <section>
        <div class="team">
            <div class="container">
                <div class="team-grids">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 team-grid">
                        <div class="team-top">
                            <h3>Our Team</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 team-grid">
                        <div class="hover">
                            <figure><img src="/php/villa/static/img/t2.jpg" alt=" " class="img-responsive" /></figure>
                        </div>
                        <div class="team-tt">
                            <h4>Laura Mark</h4>
                            <p>Lorem</p>
                            <ul class="social-list">
                            <li><a href="" class="facebook"><i class="iconfont icon-facebook"></i></a></li>
                            <li><a href="" class="twitter"><i class="iconfont icon-twitter"></i></a></li>
                            <li><a href="" class="dribble"><i class="iconfont icon-dribble"></i></a></li>
                            <li><a href="" class="vimeo"><i class="iconfont icon-vimeo"></i></a></li>
                        </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 team-grid">
                        <div class="hover">
                            <figure><img src="/php/villa/static/img/t3.jpg" alt=" " class="img-responsive" /></figure>
                        </div>
                        <div class="team-tt">
                            <h4>Laura Mark</h4>
                            <p>Lorem</p>
                            <ul class="social-list">
                            <li><a href="" class="facebook"><i class="iconfont icon-facebook"></i></a></li>
                            <li><a href="" class="twitter"><i class="iconfont icon-twitter"></i></a></li>
                            <li><a href="" class="dribble"><i class="iconfont icon-dribble"></i></a></li>
                            <li><a href="" class="vimeo"><i class="iconfont icon-vimeo"></i></a></li>
                        </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 team-grid">
                        <div class="hover">
                            <figure><img src="/php/villa/static/img/t4.jpg" alt=" " class="img-responsive" /></figure>
                        </div>
                        <div class="team-tt">
                            <h4>Laura Mark</h4>
                            <p>Lorem</p>
                            <ul class="social-list">
                            <li><a href="" class="facebook"><i class="iconfont icon-facebook"></i></a></li>
                            <li><a href="" class="twitter"><i class="iconfont icon-twitter"></i></a></li>
                            <li><a href="" class="dribble"><i class="iconfont icon-dribble"></i></a></li>
                            <li><a href="" class="vimeo"><i class="iconfont icon-vimeo"></i></a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- //team -->